<div class="row text-center">
    <h2>Add a Burger</h2>

    <form method="POST" action="/" class="form">
        <div class="form-group">
            <input type="text" name="burger" class="form-control"><strong>Burger Name</strong></input>
        
            <input type="text" name="image" class="form-control"><strong>Burger Image</strong></input>
        </div>
        <button type="submit" class="btn btn-success btn-block">Save</button>
    </form>
</div>
<div class="row">
    <div class="col-xs-6">
        <ul class="list-group">
            {{#each wholeBurgers}}
                <li class="list-group-item">
                    <img src="{{image}}" alt="devour" height="150"><br>
                    {{ id }}. {{ burger_name }}
                    <button type="submit" form="hidden-form{{id}}" class="btn btn-primary btn-sm pull-right devour">Devour</button>
                </li>
                <form action="/{{id}}?_method=PUT" method="POST" id="hidden-form{{id}}" class="hidden-xs-up"></form>
            {{/each}}
        </ul>
    </div>

    <div class="col-xs-6">
        <ul class="list-group">
            {{#each devouredBurgers}}
                <li class="list-group-item">
                <img src="http://www.mightysweet.com/mesohungry/wp-content/uploads/2014/01/03-empty-plate-The-Grand.jpg" alt="devour" height="150"><br>
                {{ id }}. {{ burger_name }}</li>
            {{/each}}
        </ul>
    </div>
</div>


